@import '~flexstyl/flex'

:host
  overflow hidden
  border-radius .2em
  box-shadow 0 .1em .2em rgba(#000, .3)

nav
  background teal
  padding: .2em 1em
  color #fff

main
  flex styl
  flex wrap
  padding 1em
  background #fff
